#emotion {
    font-size: 50px !important;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    display: none;
}

#emotion-h1 {
    color: white;
    text-align: center;
}

body {
    background-color: #36454F;
}

#container {
    padding: 20px;
    width: 500px;
}

#loading {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
    display: none;
}

/* Spinner animation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#error-message {
    display: none;
    color: red;
    font-size: 20px !important;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}